/** Font imports ttf,eot,woff,svg **/
@font-face {
	font-family: 'HelloType-l';
	src: url("../css/fonts/HelloType-l.eot"),
		 url("../css/fonts/HelloType-l.eot?#iefix") format("eot"), 
		 url("../css/fonts/HelloType-l.woff") format("woff"), 
		 url("../css/fonts/HelloType-l.ttf") format("truetype"), 
		 url("../css/fonts/HelloType-l.svg#HelloType-l") format("svg");
}
@font-face {
	font-family: 'HelloType-b';
	src: url("../css/fonts/HelloType-b.eot"), 
		 url("../css/fonts/HelloType-b.eot?#iefix") format("eot"), 
		 url("../css/fonts/HelloType-b.woff") format("woff"), 
		 url("../css/fonts/HelloType-b.ttf") format("truetype"), 
		 url("../css/fonts/HelloType-b.svg#HelloType-b") format("svg");
}
@font-face {
	font-family: 'HelloType-r';
	src: url("../css/fonts/HelloType-r.eot"), 
		 url("../css/fonts/HelloType-r.eot?#iefix") format("eot"), 
		 url("../css/fonts/HelloType-r.woff") format("woff"), 
		 url("../css/fonts/HelloType-r.ttf") format("truetype"), 
		 url("../css/fonts/HelloType-r.svg#HelloType-r") format("svg");
}
/* Layout Stylings */
html, body, .wcm {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.next_gen {
	width: 100%;
	height: 100%;
	background: #333333;
	font-size: 13px;
	line-height: 18px;
	-webkit-user-select: text !important;
	-webkit-text-size-adjust: none;
	font-family: 'HelloType-r', sans-serif;
}
.next_gen .wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.next_gen h2, .next_gen h3 {
	font-family: 'HelloType-b', sans-serif;
	text-transform: uppercase;
	font-weight: 300;
}
.next_gen #accounts_column {
	width: 21%;
	height: 100%;
	position: relative;
	float: left;
	color: #ffffff;
}
.next_gen #center_column {
	width: 58%;
	height: 100%;
	position: relative;
	float: left;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
}
.next_gen #messages_column {
	width: 21%;
	height: 100%;
	position: relative;
	float: left;
}
/* left column, right column styles */
/* cash acounts Specfic Styles */
.next_gen .cash_accounts .menu-list {
	border-top: 1px solid black;
}
.next_gen .cash_accounts .menu-list__header:first-child:after {
	background: #606060;
}
/**/
.next_gen .menu-list__header {
	background: #262626;
	color: #f3f3f3;
	border-bottom: 1px solid black;
}
.next_gen strong {
	line-height: 24px;
	font-size: 20px;
	float: left;
	font-family: 'HelloType-b', sans-serif;
	text-transform: uppercase;
	font-weight: 300;
}
.next_gen .total-bal span {
	font-family: 'HelloType-b', sans-serif;
	color: white;
	font-size: 15px;
	line-height: 20px;
}
.next_gen .menu-list__item {
	text-transform: uppercase;
	border-bottom: 1px solid black;
}
.next_gen .menu-list__item dl {
	color: #dddddd;
}
.next_gen .menu-list__item dt {
	color: white;
	font-family: 'HelloType-b', sans-serif;
}
.next_gen .bal-amount {
	color: #f3f3f3;
	font-size: 15px;
	font-family: 'HelloType-b', sans-serif;
}
.next_gen .active, .next_gen .menu-list__row:hover {
	background: white;
	color: #0080a8;
	cursor: pointer;
}
.next_gen .menu-list__item:after {
	background: #606060;
}
.next_gen .active dt, .next_gen .active dd {
	color: #0080a8;
}
.next_gen .active .bal-amount, .next_gen dd dl:hover dt, .next_gen dd dl:hover .bal-amount {
	color: #0080a8;
}
/* Common Btns, Actions, bg, loadings, info messages Icons*/
.next_gen .brand-action-icon {
	background: url(../css/images/sprite.png) no-repeat;
}
.next_gen .branding-btn {
	cursor: pointer;
	color: white;
	font-family: 'HelloType-r', sans-serif;
	font-size: 15px;
	line-height: 19px;
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}
.next_gen .white_background {
	background: white;
}
.next_gen .loading {
	z-index: 200;
	width: 100%;
	height: 100%;
	background: #ffffff url(images/loading.gif) no-repeat center center;
	opacity: 1; 
}
.next_gen .movements_loading {
	width: 100%;
	margin: auto;
	background: #f3f3f3 url(images/movements_loader.gif) no-repeat 41% center;
	text-align: center;
	font-size: 15px;
}
.next_gen .info_messages {
	background: #f2f2f2;
	width: 100%;
	text-align: center;
	font-style: italic;
}
.next_gen .info_messages p {
	padding: 6px;
}
/* Branding Styles for navigation IA */
.next_gen .navigation-bar {
	background: #ffffff;
	border-bottom: 1px solid #f3f3f3;
}
.next_gen .navigation-bar__icon {
	display: block;
	width: 26px;
	height: 25px;
}
.next_gen .menu_icon {
	float: left;
	background-position: 3px 5px;
}
.next_gen .messages_icon {
	float: right;
	background-position: -149px 1px;
}
.next_gen .navigation-bar__logout {
	color: #0080a8;
	font-family: 'HelloType-l', sans-serif;
	text-transform: uppercase;
	visibility: hidden;
}
.next_gen .navigation-bar__brand_logo {
	width: 54px;
	height: 60px;
	background: url(../css/images/sprite.png) no-repeat -39px 0;
	text-indent: -9999px;
}
.next_gen .navigation-bar__logout span {
	width: 26px;
	height: 25px;
	background: url(../css/images/sprite.png) no-repeat -109px 1px;
	text-indent: -9999px;
}
/* Branding Styles for action-bar IA */
.next_gen .action_bar {
	background: #f3f3f3;
	border-bottom: 6px solid #00b0ca;
}
.next_gen .action_bar__actions {
	font-family: 'HelloType-r', sans-serif;
	text-transform: uppercase;
	cursor: pointer;
	color: #333;
}
.next_gen .upcoming-icon {
	background-position: -180px -80px;
}
.next_gen .transfer_count {
	background: #ff4b52;
	color: white;
	font-size: 11px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}
.next_gen .export_con {
	background-position: -40px -80px;
}
.next_gen .transfer-btn {
	background: #ff4b52;
}
/* Branding styles for Movements IA */
.next_gen .record-list__header {
	background: white;
	border-bottom: 1px solid #dddddd;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.next_gen .record-list__header h2 {
	font-size: 17px;
	line-height: 25px;
	color: #333333;
}
.next_gen .account-info__text {
	text-transform: uppercase;
	color: #464646;
}
.next_gen .account-info__text--icon {
	width: 17px;
	height: 17px;
	background-position: -109px -90px;
}
.account-info h3 {
	font-family: 'HelloType-r', sans-serif;
}
.next_gen .account-info__balance {
	font-size: 17px;
	line-height: 25px;
	color: #0080a8;
	font-family: 'HelloType-b', sans-serif;
}
.next_gen .label {
	border-right: 1px solid #f3f3f3;
	font-size: 12px;
}
.next_gen .desc {
	color: #606060;
}
.next_gen .record-list__group_header {
	background: #f3f3f3;
	font-weight: bold;
	font-family: 'HelloType-b', sans-serif;
	text-transform: uppercase;
}
.next_gen .transaction-details li {
	border-top: 1px solid #cccccc;
}
.next_gen .execution-amount {
	color: #0080a8;
	font-size: 15px;
	line-height: 19px;
	text-transform: uppercase;
	font-family: 'HelloType-b', sans-serif;
}
.next_gen .transcation_icon {
	position: absolute;
	right: 0;
	top: 24px;
	cursor: pointer;
}
.next_gen .transaction-details__in .top {
	background: url(../css/images/icon-in.png) no-repeat 50% 6px;
}
.next_gen .transaction-details__out .top {
	background: url(../css/images/icon-out.png) no-repeat 50% 6px;
}
.next_gen .transaction_name {
	width: 92%;
	font-size: 13px;
	text-transform: uppercase;
}
.next_gen .transaction_info {
	color: #262626;
	line-height: 18px;
}
.next_gen .value-date {
	text-transform: none;
	color: #262626;
	font-family: 'HelloType-l', sans-serif;
}
.next_gen .detail-page {
	font-family: 'HelloType-r', sans-serif;
	font-size: 12px;
	background: #f3f3f3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
/* Branding for messages */
.next_gen .message_text {
	text-transform: none;
}
.next_gen .messages-icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-position: -230px 0;
}
.next_gen #messages_column .menu-list__item:hover, .next_gen #messages_column .menu-list__item:hover dt {
	color: #ffffff;
	background: #262626;
}
/* Branding styles for Action bar upcoming IA */
.next_gen .upcomming_transfer_overlayer {
	background: #333333;
	-webkit-transition: top 250ms, opacity 400ms;
	-moz-transition: top 250ms, opacity 400ms;
	-o-transition: top 250ms, opacity 400ms;
	transition: top, 250ms, opacity, 400ms;
}
.next_gen .upcomming_transfer__header {
	background: #00b0ca;
}
.next_gen .upcomming_transfer__header__inner h2 {
	font-size: 20px;
	color: white;
	font-family: 'HelloType-r', sans-serif;
}
.next_gen .close_btn {
	width: 38px;
	height: 38px;
	text-indent: -9999px;
	background-position: -270px -40px;
}
@media all and (max-width: 480px) {
.next_gen .label {
	width: 22%;
}
.next_gen .upcomming_transfer__header__inner h2 {
	font-size: 18px;
}
}
@media all and (max-width: 768px) {
.next_gen #accounts_column {
	width: 85%;
	-webkit-transition: left, 325ms;
	-moz-transition: left, 325ms;
	-o-transition: left, 325ms;
	transition: left, 325ms;
	position: absolute;
	top: 0;
	left: 0;
}
.next_gen #center_column {
	width: 100%;
	-webkit-transition: margin-left, 325ms;
	-moz-transition: margin-left, 325ms;
	-o-transition: margin-left, 325ms;
	transition: margin-left, 325ms;
	z-index: 111;
}
.next_gen #messages_column {
	width: 85%;
	-webkit-transition: margin-left, 325ms;
	-moz-transition: margin-left, 325ms;
	-o-transition: margin-left, 325ms;
	transition: margin-left, 325ms;
	position: absolute;
	top: 0;
	right: 0;
}
.next_gen .navigation-bar__logout {
	text-indent: -9999px;
}
.next_gen .transfer-btn {
	padding: 10px 16px;
}
.next_gen .export {
	margin-left: 15px;
}
.next_gen .action_bar__inner {
	padding: 20px;
}
.next_gen .action_bar__actions {
	margin-top: 7px;
}
/* Off canvas */
.left_open #center_column {
	margin-left: 85%;
}
.left_open #messages_column {
	right: -85%;
}
.right_open #center_column {
	margin-left: -85%;
}
.right_open #accounts_column {
	left: -85%;
}
.left_open .center-trigger, .right_open .center-trigger {
	z-index: 9;
}
/* Upcoming Transfer */
.upcomming_transfer__inner {
	width: 100%;
}
.upcomming_transfer__content .record-list__item {
	padding: 0 20px;
}
.upcomming_transfer__header__inner {
	padding: 20px 20px;
}
.close_btn {
	right: 20px;
}
}
@media all and (max-width: 768px) and (max-width: 550px) {
.next_gen .action-bar_text {
	display: none;
}
}
@media all and (max-width: 768px) and (max-width: 479px) {
.next_gen .detail-page {
	height: 166px;
	background: url(images/transaction-detail-flip.jpg) no-repeat center top;
	text-indent: -9999px;
}
}
@media (max-width: 1279px) and (max-width: 860px) and (min-width: 769px) {
.next_gen .action-bar_text {
	display: none;
}
}
@media all and (min-width: 769px) and (max-width: 1279px) {
.next_gen #accounts_column {
	width: 35%;
}
.next_gen #center_column {
	width: 65%;
	-webkit-transition: margin-left, 325ms;
	-moz-transition: margin-left, 325ms;
	-o-transition: margin-left, 325ms;
	transition: margin-left, 325ms;
	position: absolute;
	right: 0;
	z-index: 111;
	border: 1px solid #ffffff;
}
.next_gen #messages_column {
	width: 35%;
	position: absolute;
	top: 0;
	right: 0;
}
.next_gen .menu_icon {
	display: none;
}
.next_gen .navigation-bar__brand_logo {
	left: 20px;
}
/* Off canvas */
.right_open .menu_icon {
	display: block !important;
}
.right_open .navigation-bar__brand_logo {
	left: 60px;
}
.right_open #center_column {
	right: 35%;
}
}
@media all and (min-width: 769px) and (max-width: 1279px) and (max-width: 860px) {
.next_gen .action-bar_text {
	display: none;
}
}
@media all and (min-width: 1280px) {
.next_gen .navigation-bar__brand_logo {
	left: 20px;
}
.next_gen .menu_icon, .next_gen .messages_icon {
	display: none;
}
}
