

.scrolling_smallscreen {
  width: $default-width;
  height: $default-height - 3;
  overflow: hidden;
  position: relative;
}

.subscrolling {
  width: $default-width;
  height: $default-height;
}

.movements-ia {
  width: $default-width;
  height: 84.2%;
  overflow: hidden;
  position: relative;
}

.record-list__content {
  position: relative;
  height: $default-height - 20;
  overflow: hidden;
  width: $default-width;
}

.record-list {
  width: $default-width;
}

.record-list__header {
  position: relative;
  z-index: 10;
  cursor: pointer;
  padding: 14px 20px 20px;
  h2 {
    float: left;
    margin: 0;
    width: $default-width;
  }
}

.movements_info {
  float: right;
  text-align: right;
  line-height: 19px;
  margin: -18px 0 0 0;
  color: $menu-list-header;
  .branding_icons.info-icon {
    width: 17px;
    height: 17px;
    padding: 0 0 0 11px;
    background: url(../images/sprite.png);
    background-position: -109px -90px;
    float: right;
  }
  h3 {
    width:$default-width;
    float: right;
    margin-top: 4px;
  }
}

.account_info-details {
  display: none;
  width: $default-width;
  border-top: 1px solid #f3f3f3;
  margin: 10px 0 0 0;
  padding: 10px 0 0 0;
  overflow: hidden;
  max-height: 200px;
}

.label {
  width: $default-width - 82;
  float: left;
  padding: 3px 0;
  font-size: 12px;
}

.desc {
  width: $default-width - 30;
  float: left;
  margin: 0 0 0 20px;
  padding: 3px 0;
}

.record-list__group_header {
  padding: 2px 20px;
  margin: 0;
  clear: both;
}

.record-list__item {
  padding: 0 20px;
  li {
    width: $default-width;
    display: table;
    padding: 30px 0 20px;
  }
}

.detail-page {
  display: none;
}

.transaction_in .top {
  background: url(../images/icon-in.png) no-repeat 50% 6px;
}

.transaction_out .top {
  background: url(../images/icon-out.png) no-repeat 50% 6px;
}

.top {
  .date {
    line-height: $base-line_height + 1;
    float: left;
  }
  .amount {
    float: right;
  }
}

.transaction_info {
  display: block;
  width: $default-width;
  float: left;
  position: relative;
  color: #262626;
  line-height: $base-line_height;
  .info-icon {
    position: absolute;
    right: 0;
    top: 10px;
    cursor: pointer;
    background: url(../images/sprite.png);
  }
}

.branding_icons.info-icon {
  background-position: -109px -76px;
  width: 19px;
  height: 19px;
  padding: 11px 0 11px 11px;
}

p.value-date {
  margin: 10px 0 0 0;
}

.detail-page {
  display: none;
  width: $default-width;
  float: left;
  margin: 15px 0 0;
  overflow: hidden;
  padding: 15px 0;
  p {
    display: block;
    width: $default-width - 50;
    margin: 0 auto;
  }
}