#wrapper{
	
	#left-column{}
	
	#center-column{
		
		#navigation{
			.icon.oct{ display: none; }
			.icon.messages{ display: none; }
			.logo{ left: 20px; }
		}
		
	}
	
	#right-column{}
	
}