body{
	
	&.right-open{
		#wrapper{
			#center-column{ margin-left: -$medium-side;
				#navigation{
					.logo{ left: 60px; }
					.icon.oct{ display: block; } 
				}
				//.center-trigger{ z-index: 9; }
			}
		}
	}
	
}

#wrapper{
	
	#left-column{ width: $medium-side;
		
	}
	
	#center-column{ width: $medium-center; @include transition((margin-left, $animation-speed), (background, 0ms)); //@include transition(background, 0ms);
		
		#navigation{
			.icon.oct{ display: none; }
			.logo{ left: 20px; @include transition(left, 250ms); }
		}
		
		#account-bar .account-info .field{
			.label{ width: 30%; }
			.desc{ width: 60%; }
		}
		
	}
	
	#right-column{ width: $medium-side; position: absolute; right: 0; top:0; }
	
	#messages{ width: $medium-side; position: absolute; right: $medium-center - $medium-side; top:0;
		
		.right-open &{ right: $medium-side; }
		&.open{ right: 0; }
		
	}
	
}

@media all and (max-width: 860px) {
	
	#wrapper #center-column #action-bar .actions .text{ display: none; }
	
}