
/* colors __________________________________________________*/
$main: #333333;
$blue: #00b0ca;
$d-blue: #0080a8;
$red: #ff4b52;
$l-main: #f3f3f3;


/* widths __________________________________________________*/
$small-side: 85%;
$small-center: 100%;

$medium-side: 35%;
$medium-center: 100% - ($medium-side);

$large-side: 21%;
$large-center: 100% - ($large-side * 2);

$animation-speed: 125ms;

