@font-face {
    font-family: 'HelloType-l';
    src: url("../fonts/HelloType-l.eot");
    src: url("../fonts/HelloType-l.eot?#iefix") format("eot"),
        url("../fonts/HelloType-l.woff") format("woff"),
        url("../fonts/HelloType-l.ttf") format("truetype"),
        url("../fonts/HelloType-l.svg#HelloType-l") format("svg");
    font-style:normal; font-weight:normal;
}

@font-face {
    font-family: 'HelloType-b';
    src: url("../fonts/HelloType-b.eot");
    src: url("../fonts/HelloType-b.eot?#iefix") format("eot"),
        url("../fonts/HelloType-b.woff") format("woff"),
        url("../fonts/HelloType-b.ttf") format("truetype"),
        url("../fonts/HelloType-b.svg#HelloType-b") format("svg");
    font-style:normal; font-weight:normal;
}

@font-face {
    font-family: 'HelloType-r';
    src: url("../fonts/HelloType-r.eot");
    src: url("../fonts/HelloType-r.eot?#iefix") format("eot"),
        url("../fonts/HelloType-r.woff") format("woff"),
        url("../fonts/HelloType-r.ttf") format("truetype"),
        url("../fonts/HelloType-r.svg#HelloType-r") format("svg");
    font-style:normal; font-weight:normal;
}