@mixin border-radius($dist) {
  -webkit-border-radius: $dist;
	-moz-border-radius: $dist;
	-ms-border-radius: $dist;
	-o-border-radius: $dist;
  border-radius: $dist;
}
@mixin box-shadow($dist) {
-webkit-box-shadow: $dist;
	-moz-box-shadow: $dist;
  box-shadow: $dist;
  
}
@mixin transition($dist, $animation-speed) {
	-webkit-transition: $dist, $animation-speed;
	-moz-transition: $dist, $animation-speed;
	-o-transition: $dist, $animation-speed;
	transition: $dist, $animation-speed;
  transition: $dist, $animation-speed;
}