.next_gen {
  #accounts_column {
    width: $medium-side;
  }
  #center_column {
    width: $medium-center;
	@include transition(margin-left, 325ms);
    position: absolute;
    right: 0;
	z-index:111;
	border:1px solid $borderblue;
  }
  #messages_column {
    width: $medium-side;
    position: absolute;
    top: 0;
    right: 0;
  }
  .menu_icon {
  	display: none;
	}

	.navigation-bar__brand_logo {
  	left: 20px;
	}
}

.right_open {
  .menu_icon {
    display: block !important;
  }
  .navigation-bar__brand_logo {
    left: 60px;
  }
  #center_column {
    right: 35%;
  }
}