/** Font imports ttf,eot,woff,svg **/
@font-face {
	font-family: 'HelloType-l';
	src: url("../css/fonts/HelloType-l.eot");
	src: url("../css/fonts/HelloType-l.eot?#iefix") format("eot"), url("../css/fonts/HelloType-l.woff") format("woff"), url("../css/fonts/HelloType-l.ttf") format("truetype"), url("../css/fonts/HelloType-l.svg#HelloType-l") format("svg");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'HelloType-b';
	src: url("../css/fonts/HelloType-b.eot");
	src: url("../css/fonts/HelloType-b.eot?#iefix") format("eot"), url("../css/fonts/HelloType-b.woff") format("woff"), url("../css/fonts/HelloType-b.ttf") format("truetype"), url("../css/fonts/HelloType-b.svg#HelloType-b") format("svg");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'HelloType-r';
	src: url("../css/fonts/HelloType-r.eot");
	src: url("../css/fonts/HelloType-r.eot?#iefix") format("eot"), url("../css/fonts/HelloType-r.woff") format("woff"), url("../css/fonts/HelloType-r.ttf") format("truetype"), url("../css/fonts/HelloType-r.svg#HelloType-r") format("svg");
	font-style: normal;
	font-weight: normal;
}