.action_bar-ia {
	width: 100%;
	height: 80px;
	position: relative;
	z-index: 9;
	-webkit-backface-visibility: hidden;
}
.action_bar-ia__inner {
	padding: 25px 20px;
}
.action_bar-ia__actions {
	display: inline-block;
	padding: 6px 0 0 40px;
	position: relative;
	color: #333;
	text-decoration: none;
	float: left;
	margin: 0 0 0 30px;
}
.action_bar-ia__actions .action-icon {
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	left: 0;
	top: -4px;
	background: url(../images/sprite.png) no-repeat -180px -80px;
}
.export {
	cursor: not-allowed !important;
}
.export .action-icon {
	background-position: -40px -80px;
}
.tasks {
	margin: 0;
}
.transfer_count {
	display: inline-block;
	padding: 1px 4px;
	width: auto;
	height: auto;
	line-height: 12px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	position: absolute;
	right: -3px;
	top: 3px;
	left: auto;
}
.transfer_btn {
	float: right;
	cursor: not-allowed;
	padding: 5px 15px;
}
/* Styles for upcoming Overlay */
.upcomming_transfer_overlayer {
	width: 100%;
	height: 100%;
	z-index: -1;
	position: fixed;
	opacity: 0;
	-webkit-transition: top 250ms, opacity 400ms;
	-moz-transition: top 250ms, opacity 400ms;
	-o-transition: top 250ms, opacity 400ms;
	transition: top, 250ms, opacity, 400ms;
	top: 1600px;
	left: 0;
}
.upcomming_transfer__inner {
	width: 768px;
	margin: auto;
	height: 100%;
}
.upcomming_transfer__header {
	width: 100%;
	position: relative;
	margin: 0;
}
.upcomming_transfer__header__inner {
	padding: 20px 50px;
}
.close_btn {
	display: block;
	width: 38px;
	height: 38px;
	padding: 0;
	background: url(../images/sprite.png) no-repeat -270px -40px;
	text-indent: -9999px;
	position: absolute;
	right: 40px;
	top: 10px;
}
.upcomming_transfer__content {
	height: 93%;
}
.upcomming_transfer__content .record-list__item {
	padding: 0 50px;
}
