.accounts-ia {
	padding: 68px 0 0 0;
}
.menu-list {
	width: 100%;
}
.menu-list__header {
	position: relative;
}
.menu-list__header strong {
	position: absolute;
	left: 20px;
	bottom: 23px;
	margin: 0;
	line-height: 24px;
	padding: 0;
}
.menu-list__header .total-bal p span {
	padding-left: 3%;
} 
.menu-list__item .bal_amount span {
	padding-left: 2%;
}
.menu-list__item:after {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
}
.accounts-ia .menu-list__header:first-child:after {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	position: absolute;
	left: 0;
	top: 0
}