/* Styles header IA */
.navigation-ia {
	width: 100%;
	height: 60px;
	position: relative;
	z-index: 10;
}
.navigation-ia__inner {
	padding: 20px 20px 15px;
	position: relative;
}
.navigation-ia__icon.menu-oct {
	float: left;
	background-position: 3px 5px;
}
.navigation-ia__brand_logo {
	position: absolute;
	left: 60px;
	top: 10px;
	-webkit-backface-visibility: hidden;
	display: block;
	text-indent: -9999px;
	width: 54px;
	height: 60px;
	background: url(../images/sprite.png) no-repeat -39px 0;
}
.navigation-ia__icon{
	display: block;
	width: 26px;
	height: 25px;
	background: url(../images/sprite.png) no-repeat 3px 5px;
}
.navigation-ia__icon.messages {
	float: right;
	margin: 0 0 0 20px;
	background-position: -149px 1px;
	padding:0;
}
.navigation-ia__logout {
	position: relative;
	padding: 7px 35px 5px 0;
	text-decoration: none;
	float: right;
}
.navigation-ia__logout span {
	display: block;
	text-indent: -9999px;
	position: absolute;
	right: 0;
	top: 0;
	width: 26px;
	height: 25px;
	background: url(../images/sprite.png) no-repeat -109px 1px;
}